.centered {
    text-align: center;
}

#title {
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    margin:0;
    font-size: x-large;
    background-color: grey;
}

#subtitle {
    font-size: 1.5rem;
    margin:0;
    font-size: small;
    background-color: grey;
}

.div {
    background-color: gray;
    background-color: grey;
}

li {
    margin:0;
    list-style-type: none;

}

#content {
    margin:0;
    text-decoration: underline;
    background-color: grey;
   
    

}

.monospaced {
    font-family: monospace;
    font-size: x-small;
}

h2{padding: 0;
margin:0;
font-size: x-small;
font-weight: normal;}

