/* minor CSS reset */
/* You should not need to change anything here */
html, body, div, h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ADD CSS BELOW */

h1{
	padding: 10px 400px;
	font-size: xx-large;
}

h2{
text-align: left;
font-size: x-large;
font-weight: bold;
padding-left: 10px;

}

.row1{
	display: flex;
	font-family: sans-serif;
	margin: 1px;
}

.col1{
	background-color: lightgrey;
	margin:10px;
	border: 1px dashed grey;
	padding: 30px 10px 10px 10px;
	height:160px;

	text-align: center;
	align-self: center;
	
	
}

.col2{
	align-self: center;

}



.img{
	
	max-height: 100px;
}

ul{
	list-style: none;
}

.images2{
	display: flex;
}

body{font-family:"Bangers",cursive ;
text-transform: uppercase;}

h3{font-family:"Bangers",cursive}